

.secular-one {
  font-family:'Secular One', sans-serif;
}

.squada-one {
  font-family: 'Squada One', cursive;
}

.hind {
  font-family: 'Hind', sans-serif;
}

.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-color: #f7dfb1;
  font-family: 'Hind', sans-serif;
}

.main-container { 
  margin: 16px auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin: 0 16%;
}

.menu-center{
  margin-top: 6px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
}


.my-name-logo {
  color: black;
  font-size: 26px;
}

.gif-me {
  width: 70%;
  background-color: #200101;
  padding: 16px;
  border-radius: 12px;
  margin: 32px;
  box-shadow: 23px 22px 12px rgba(3,4,0,0.2);
}

.nav {
  background-color: #f7dfb1;
}

.nav a {
  color: #535353;
}

.banner {
  display: flex;
  width: 900px;
  margin: 10% auto;
}

.banner-width {
  width: 90%;
}

.hero-text {
  font-size: 4em;
  margin: 0px;
  color: #535353;
}

.hero-text-1 {
  margin-top: 48px;
}

.hero-text-2 {
margin-left: 32px;
}
.hero-text-3 {
margin-left: 64px;
}
.yellow-block {
  background-color: #fbd531;
  height: 8px;
  width: 225px;
  border-radius: 12px;
}

.yellow-block-1 {
  margin-top: 16px;
  margin-left: 190px;

}

.yellow-block-3 {
  margin-top: 25px;
  margin-right: 67px;
}

.under-hero-text {
  display: flex;
}

.meet-me-text {
  color: #535353;
}

.container-featured {
  background-color: #200101;
}

.inner-featured-container {
  margin: 0 16%;
  padding-top: 10%;
}

.featured-title {
  color: #f7dfb1;
  font-size: 30px;
  padding-bottom: 64px;
}

.featured-sub-title {
  color: #f7dfb1;
  font-size: 26px;
  font-weight: 300;
}

.work-container {
  display: flex;
}

.featured-sub-title {
  display: flex;
}

.sub-right {
padding-left: 44%;
}


div#image { 
  background-color: #000; 
  font-size: 0; width: 95%; 
  margin: 0 auto;
  box-shadow: 0 0 12px rgba(0,0,0,0.8);
}
div#image figure { 
  margin: 0; width: 50%; 
  height: auto; transition: 1s; 
  display: inline-block; 
  position: relative; overflow: hidden; 
}
div#image figure:hover { cursor: pointer; z-index: 4; }
div#image figure img { width: 100%; height: auto; }
div#image figure:nth-child(1) { transform-origin: top left; }
div#image figure:nth-child(2) { transform-origin: top right; }
div#image figure:nth-child(3) { transform-origin: bottom left; }
div#image figure:nth-child(4) { transform-origin: bottom right; }
div#image figure figcaption { 
  margin: 0; opacity: 0; 
  background: rgba(0,0,0,0.3); 
  color: #fff; padding: .3rem; 
  font-size: 1.2rem; 
  position: absolute; 
  bottom: 0; width: 100%;
	transition: 1s 1s opacity; 
}
.expanded { transform: scale(2); z-index: 5;  }
div#image figure.expanded figcaption { opacity: 1; }
div.full figure:not(.expanded) { pointer-events: none; }

.about-container {
  margin: -26px 16%;
  padding-top: 22%;
}

.about-me-title {
  font-size: 30px;
  color: #f7dfb1;
}

.about-bg-img {
  background-color: #f7dfb1;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-color: #200101;
}

.pictur-me {
  width: 80%;
  height: 60%;
  border-radius: 7px;
  border-color: #f7dfb1;
  border-style: solid;
}

.highlight {
  color: #fbd531;
}

.about-me-card {
  display: flex;
}


.about-me-text {
  color: #f7dfb1;
  margin: 16px;
}

h4 {
  color: #f7dfb1;
  padding: 0px 16px;
}

p.language{
  color: #f7dfb1;
  padding: 0px 16px;
  margin: 0px 0px;
}

.hello-sentence{
  font-size: 2em;
}

.languange-container{
  border-style: solid;
  color: #f7dfb1;
  border-radius: 12px;
  width: 200px;
  margin: 16px 0px;
  padding-bottom: 16px;
}

.about-me-gif-container {
  display: flex;
}

.about-gif-me {
  width: 25%;
  height: 25%;
  margin-left: 50%;
  margin-top: 1%;
}

.about-gif-robot {
  width: 55%;
  height: 55%;
  margin-top: 2%;
}

.text-container{
  background-color: rgba(33, 1, 1, 0.7);
  border-radius: 7px;
  height: 90%;
}

.title-tool{
  margin-top: 16px;
}

.my-resently-tools {
  display: flex;
  flex-wrap: wrap;
}

.darker-light {
  color: #d5c099db;
  padding: 0px 16px;
  margin: 0px 0px;
}

.adobe-text {
  margin: 0px;
}

.contact-me-container {
  background-color: #200101;
  text-align: center;
  padding: 0px 0px 20% 0px;
}

.in-touch-title {
  color: #f7dfb1;
  font-size: 100px;
  padding-top: 22%;
  margin: 0px;
}

.in-touch-text {
  color: #f7dfb1;
}

.say-hello-button{
  color: #fbd531;
  border-color: #fbd531;
  border-radius: 7px;
  background-color: #200101;
  padding: 16px 32px;
}
.say-hello-button:hover {
  background-color: #f7dfb138; transition: 1s;
}

.icons {
  width: 32px;
  margin: 0px 16px;
}

footer {
  background-color: #170101;
  padding: 32px;
}
.footer-container {
  margin: 0 16%;
  display: flex;
  justify-content: space-between;
}

.email {
  color: #f7dfb1;
  background-color: #200101;
}

