

.secular-one {
  font-family:'Secular One', sans-serif;
}

.squada-one {
  font-family: 'Squada One', cursive;
}

.hind {
  font-family: 'Hind', sans-serif;
}

.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #f7dfb1;
}
