/*----------------Redus motion Accesability-------------------*/

@media (prefers-reduced-motion) {
    html, body {
        scroll-behavior: unset!important;

    } * {
        animation-duration: 0.00000001s !important;
        transition: 0.00000001s !important;
    }
}